*.meta
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
Library/*
Logs/*
obj/*
.vs/*
.vsconfig/*
DiceRoguelike.sln\
.vscode/settings.json
.vsconfig
Assets/TextMesh Pro/*
Assets/OtherResource/*
DiceRoguelike.sln
